{% extends "base.html" %}
{% block content %}
<ul>
{% for object in object_list %}
    <li><a href="{% url karta_detal object.pk %}">{{object.imie}}
    {{object.nazwisko}},
    ur: {{object.data_ur}}</a> {{object.get_url}}</li>
{% endfor %}
</ul>
{% endblock %}
