<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>bez nazwy</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="generator" content="Geany 1.22" />
</head>

<body>
    {{ msg }}
   
    <form method="POST" action="">{% csrf_token %}
    <table>
	{{ formularz.as_table }}
    </table>
    <input type="submit" value="Wyślij"/>
    </form>
</body>

</html>
